{% if title == 'Комментарии' %}
<body>
<div class=" top_con">
	<div class="top_info_con">
		<h2 class="top_heading_con">Contact Us</h2>
		<p class="text_con">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua.</p>

	</div>
</div>


{% else %}

	<div class=" top">
		<div class="container top_box">
			<div class="top_info">
				<h1 class="top_heading">!!!</h1>
				<p class="text top_text">Адаптивная верстка, но почему подвал заезжает под товары если сделать меньше разрешение, you know? Еще нужно текста побольше и тогда шапка улчше смотрится, так изначально было задуманно</p>
				<a href="#" class="top_button">Сделаю по уроку еще раз с нуля админку</a>
			</div>
		</div>
	</div>
{% endif %}