<div class="card-log">
<form class="reg_form" method="post">
    <input class="inpCon" type="text" name="name" placeholder="Введите имя" required>
    <input class="inpCon" type="text" name="login" placeholder="Введите логин" required>
    <input class="inpCon" type="password" name="password" placeholder="Введите пароль" required>
    <input class="button-log" type="submit" name="submit" value="Зарегистрировать">
</form>
</div>