
<form class="card-log" method="post">
    <input class="inpCon" style="margin: 40px 0 10px 0px" type="text" name="login" placeholder="Введите логин" required>
    <input class="inpCon" type="password" name="password" placeholder="Введите пароль" required>
    <input class="button-log" type="submit" name="button" value="Войти">
</form>