<div class="footer">
    <div class="container footer_con">
        <div class="footer_top">
            <div>
                <h1 class=" footer_heading">
                    Interested to work with out team?</h1>
                <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <a class="footer_button" href="#">Let’s Talk</a>
        </div>
    </div>
    <hr>
    <div class="container footer_con">
        <div class="footer_bottom">
            <ul class="footer_info">
                <li class="footer_list"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li class="footer_list footer_list2">+7-812-7313-4321</li>
                <li class="footer_list footer_list3">hello.site@gmail.com</li>
            </ul>
            <p class="prava">2021 All rights reserved.</p>
        </div>
    </div>
</div>